html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1c355d;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li a {
    display: block;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
}

.navbar a:hover {
    font-weight: bolder;
    color: white;
    background-color: #1e77dd;
    border-radius: 1rem;
    padding: 1rem 1rem;
}


.top-section {
    background-image: url("background_top.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
}

.top-image img {
    width: 80%;
    height: auto;
    max-width: 25rem;
    object-fit: cover;
    margin-right: auto;
    border-radius: 50%;
    padding: 4rem;
    display: flex;
}


.about-section {
    background-image: url("background_about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 2rem;
}

.about-box {
    max-width: 62.5rem;
    margin: auto;
    background-color: rgba(255,255,255,0.70);
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.412);
}

.about-image img {
    width: 15.625rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
}

.about-text h1 {
    font-size: 32px;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 19px;
    line-height: 1.5;
}


.skillsAndAchievements-section {
    background-color: #3656b7;
    background-image: linear-gradient(315deg,#3656b7 0%,#1c355d 60%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.625rem;
}

.grid-item {
    background-color: #60a0e5de;
    color: white;
    padding: 1.875rem;
    font-size: 20px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.412);
}

.grid-item-img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 3rem;
    object-fit: cover;
    margin-top: 0.5rem;
}


.achievements-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.achievements-table th,
.achievements-table td {
    border: 0.1875rem solid white;
    padding: 0.5rem;
    text-align: left;
}


.projects-section {
    background-image: url("background_projects.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    color: white;
}

.projects-img img {
    color: black;
    border-radius: 2rem;
    position: relative;
    z-index: 1;
    top: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.612);
}

.projects-img img {
    width: auto;
    height: auto;
    max-width: 25rem;
    max-height: 15rem;
    object-fit: contain;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.412);
}

.projects-description {
    color: black;
    max-width: 100%;
    background-color: rgb(222,224,255);
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    left: 2rem;
    position: relative;
    margin-right: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.612);
}


.contact-section {
    background-color: #3656b7;
    padding: 2rem;
}

.contact-text-box {
    color: black;
    max-width: 9.375rem;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
    z-index: 1;
    top: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.612);
}

.contact-links-box {
    color:black;
    max-width:100%;
    background-color:rgb(222,224,255);
    padding:3rem;
    border-radius:2rem;
    display:flex;
    justify-content:center;
    gap:2rem;
    left:2rem;
    position:relative;
    margin-right:2rem;
    box-shadow:0 0.25rem 0.5rem rgba(0,0,0,0.612);
}

.contact-links-box a {
    color:black;
    text-decoration:none;
    font-weight:bold;
    font-size:19px;
    padding:1rem;
    border-radius:1rem;
}

.contact-links-box a:hover {
    background-color:#1e77dd;
    color:white;
    padding:1rem;
}